.product-profile {
	/* PDP */
	// margin: 7vh 14vw 0 6.5vw;
	// margin-top: 11vh;

	margin: auto;
	margin-top: 2vh;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 80vw;
	// z-index: -1;

	// height: 100vh;
	// left: 8vw;
	// top: 160px;
	// padding: 0 15vw;
}
