.cart-overlay {
	/* Group 406 */
	background-color: #fff;
	border: 1px solid #000;

	position: absolute;
	width: 325px;
	height: 540px;
	left: 61vw;
	top: 78px;
}
.cart-overlay-invisible {
	display: none;
}
