.cart-overlay-bg {
	position: fixed;
	background-color: rgba(57, 55, 72, 0.22);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	& .cart-overlay {
		background-color: #fff;
		position: absolute;
		min-width: 340px;
		right: 15vw;
		top: 78px;
		color: #1d1f22;
		text-transform: capitalize;
		height: 550px;

		& .cart-overlay-title {
			margin: 10px 15px 25px;
			font-weight: 700;
			font-size: 16px;
			line-height: 160%;

			& .cart-overlay-products-count {
				font-weight: 500;
				text-transform: none;
			}
		}
		& .cart-overlay-items-main-container {
			overflow-y: scroll;
			overflow-x: hidden;
			height: 50vh;
			padding-left: 15px;

			& .cart-overlay-item-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				// align-items: center;
				position: relative;
				margin-bottom: 40px;
				max-width: 293px;
				max-height: 250px;

				.cart-overlay-item-left-container {
					position: relative;
					align-self: flex-end;
					// top: 0;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin: 0;
					padding: 0;
					height: 100%;
					margin-right: 20px;

					& .cart-overlay-item-title {
						margin: 0;
						font-weight: 300;
						font-size: 16px;
					}
					& .cart-overlay-item-price {
						margin: 0;
						margin-top: 5px;
						margin-bottom: 10px;
						font-weight: 500;
						font-size: 16px;
						line-height: 160%;
					}
				}

				& .cart-overlay-item-right-container {
					display: flex;
					flex-direction: row;
					width: 120px;
					height: 100%;
					align-self: center;

					& .cart-overlay-item-mid-container {
						display: flex;
						flex-direction: column;
						align-items: center;

						& .cart-overlay-item-quantity {
							margin: 0;
							font-weight: 500;
							text-align: center;
							font-size: 16px;
							position: absolute;
							height: 100%;
							top: 0;
							display: flex;
							flex-direction: row;
							align-items: center;
						}
						& .cart-overlay-item-attribute-increment {
							display: flex;
							// align-self: center;
							background: #fff;
							border: 1px solid #1d1f22;
							box-sizing: border-box;
							width: 24px;
							height: 24px;
							font-size: 15px;
							display: flex;
							justify-content: center;
							align-items: center;
							position: absolute;
							top: 0;
						}
						& .cart-overlay-item-attribute-decrement {
							@extend .cart-overlay-item-attribute-increment;
							top: auto;
							bottom: 0;
						}
					}
					& .cart-overlay-item-img-container {
						display: flex;
						width: 120px;
						// height: 140px;
						margin-left: 20px;
						align-items: center;
						max-height: 100%;

						& .cart-overlay-item-img {
							max-width: 100%;
							height: auto;
							position: relative;
						}
					}
				}
			}
		}

		& .cart-overlay-total-price-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			& .cart-overlay-total-price-text {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 18px;
				margin: 10px 15px 40px;
			}
			& .cart-overlay-total-price-amount {
				margin: 10px 15px 40px;
				/* $100.00 */

				width: 95px;
				height: 26px;
				// padding: 0;
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 160%;
				text-align: right;
				/* identical to box height, or 26px */

				color: #1d1f22;
			}
			& .cart-overlay-view-btn {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 16px 32px;
				text-decoration: none;

				position: static;
				width: 140px;
				height: 43px;
				left: 0px;
				top: 0px;

				background: #ffffff;
				border: 1px solid #1d1f22;
				box-sizing: border-box;

				/* Inside auto layout */

				flex: none;
				order: 0;
				flex-grow: 0;
				margin: 0px 10px;

				font-weight: 600;
				font-size: 14px;
				line-height: 120%;
				/* identical to box height, or 17px */

				display: flex;
				align-items: center;
				text-align: center;
				text-transform: uppercase;

				color: #1d1f22;
				margin-bottom: 20px;
			}
			& .cart-overlay-checkout-btn {
				@extend .cart-overlay-view-btn;
				background: #5ece7b;
				color: #ffffff;
			}
		}
	}
	.cart-overlay-invisible {
		display: none;
	}
}
